.sign{
    background-color: #ff0a54;
}
.Card{
    width:450px;
    height: 550px;
}
.butto{
    background:    #ff0a54;
    border-radius: 10px;
    padding:       10px 25px;
    color:         #ffffff;
    display:       inline-block;
    font:          normal bold 20px "Open Sans", sans-serif; 
    text-align:    center;
}
